@model System.String



    @using (Html.BeginForm("List", "Cars"))
    {
    <div class="input-group">
        <input type="text" name="search" class="form-control " />
        <span class="input-group-btn">
            <input type="submit" value="Поиск" class="btn btn-default" />
        </span>
    </div>
    }





